/**
 * Section 与 Article 通用样式
 */

section, article {
    &.special {
        text-align: center;
    }
}

header {
    p {
        margin-top: _size(element-margin) * -0.5;
    }

    @include breakpoint(small) {
        p {
            margin-top: 0;
        }
    }
}
