<!-- 相册图集：使用 featherlight 实现点击放大 -->
<div class="gallery-container">
    <% if (item.photos && item.photos.length) { %>
        <% item.photos.forEach(function (photo) { %>
            <div class="picture-container">
                <a href="#" data-featherlight="<%= url_for(photo) %>">
                    <img src="<%= url_for(photo) %>" class="img-thumbnail" alt="" loading="lazy" />
                </a>
            </div>
        <% }); %>
    <% } %>
</div>
